{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block header %}Liste des films{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Année</th>
            <th>Genre</th>
            <th>Réalisateur</th>
            <th>Sypnosis</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.title }}</td>
                <td>{{ film.year }}</td>
                <td>{{ film.type }}</td>
                <td>{{ film.director }}</td>
                <td>{{ film.synopsis }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
